
#table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#lmao {
    font-size: 3rem;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: auto;
    min-height: 100vh;
    max-width: 1250px;
}

